/* body {
    margin: 0;
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
@import "reset.css";
@import "style_responsive_table2.css";
@import "greyGridTable.css";


body {
    padding: 0;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}

@media screen and (min-width: 900px) {
    body {
        padding: 0 2em;
    }
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}

h4 {
    clear: both;
}

#wrapper {
    /*max-width: 1000px;*/
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

header {
    height: 150px;
    background-color: #7e0909;
    background-image: url('mvlogo_neu_whiteFont250.png');
    background-repeat: no-repeat;
    background-size: auto 85%;
}

footer {
    clear: both;
    text-align: center;
}

nav {
    background-color: #7e0909;
    height: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    float: left;
    margin: 5.5px 0 5.5px 15px;
    max-width: 100%;
}

#content {
    clear: both;
    padding: 15px;
    overflow-x: auto;
}


form {
    padding: 0px;
}

form p {
    clear: both;
}

label {
    /* min-width: 140px; */
    display: inline-block;
}

select {
    min-width: 100px;
    /* margin-right: 60px; */
}

input {
    width: 220px;
}

textarea {
    min-width: 220px;
}

#data_input {
    box-sizing: border-box;
    margin: 5px 20px;
    width: 250px;
    float: left;
    max-width: 100%;
}

#small_margin {
    margin: 5px 15px;
}

#button {
    text-align: center;
}

#radio_button {
    max-width: 20px;
}

article {
    /*background-color: yellow;*/
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

section.listAll {
    display: inline-block;
    font-size: 20px;
    padding: 5px 0px;
    width: 250px;
    /*width: 33%;*/
    height: 400px;
    vertical-align: middle;
}

button.listAll {
    /*padding: 10px 10px;*/
    width: 100%;
    height: 100%;
}

section.single {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    min-width: 250px;
    width: 45%;

}